<!-- views/partials/cart.handlebars -->
<div class="cart">
    <h2>Shopping Cart</h2>
    <ul>
        {{#each items}}
            <li>
                <div class="cart-item">
                    <img src="{{this.image}}" alt="{{this.name}}">
                    <p>{{this.name}}</p>
                    <p>Price: ${{this.price}}</p>
                    <p>Quantity: {{this.quantity}}</p>
                </div>
            </li>
        {{/each}}
    </ul>
    <p>Total: ${{total}}</p>
</div>
