<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{storeName}} - My Store</title>
  <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
  <header>
    <h1>{{storeName}} - My Store</h1>
    <p>Contact: {{storeEmail}}</p>
  </header>

  <main>
    <section class="product-list">
      {{#each products}}
      <div class="product-card">
        <img src="/images/{{productImage}}" alt="{{product_name}}">
        <h2>{{product_name}}</h2>
        <p>Price: ${{price}}</p>
        <p>Description: {{description}}</p>
        <a href="/cart/{{id}}" class="buy-button" data-productid="{{id}}">Buy Now</a>
      </div>
      {{/each}}
    </section>
  </main>
  
  <footer>
    <a href="/checkout" class="btn btn-primary">View Cart</a> <!-- Added "View Cart" button -->
    <a href="/" class="btn btn-primary">Back to Homepage</a>
  </footer>
</body>
</html>
